<h1> <%= @garage.model %> </h1>

<p> <%= @garage.year %> <%= @garage.make %>, <%= @garage.model %> with <%= @garage.mileage %> <%= @garage.model %>  for <%= @garage.price %>. call <%= @garage.phone %> to contact owner or email  </p>


<%= link_to "Edit this car", edit_garage_path %>

<%= link_to "Delete this car!", :garage, method: :delete, data: { confirm: 'Are you sure you want to delete it?' } %>

<%= link_to "back to list", garages_path %>